$primary-text: #0B345D;
$secondary-text: #2788B8;
$primary-color:#003B89;
$secondary-color: #4489E6;
$black-gray: #383838;
$black:#000;
$black-light-gray: #5b5b5b;
$bg-primary: #042755;
$bg-secondary: #174b8f;
$bg-gray: #d4d1d1;
$bg-light-gray: rgb(225, 225, 225);
$bg-footer: #222222;
$white: #FFFFFF;
$text-soft: #eeecec;
