$primary-text: #0B345D;
$secondary-text: #2788B8;
$primary-color:#003B89;
$secondary-color: #4489E6;
$black-gray: #383838;
$bg-primary: #042755;
$bg-secondary: #174b8f;
$bg-gray: #d4d1d1;
$white: #FFFFFF;
