<!-- <section class="login-section pad-70">
  <div class="left-side">
    <div class="login-box">
      <h3>Login</h3>
      <form>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Nome</label>
        </div>
        <div class="user-box">
          <input type="age" name="" required="">
          <label>Idade</label>
        </div>
        <div class="user-box">
          <input type="cpf" name="" required="">
          <label>CPF</label>
        </div>
        <div class="user-box">
          <input type="hospital" name="" required="">
          <label>Hospital</label>
        </div>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
        </a>
      </form>
    </div>
  </div>
  <div class="right-side">
    <img src="assets/schedule.jpg" alt="Minha Imagem" width="900" height="600">
  </div>
</section> -->
