@import "../../../color-variables.scss";

.login-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: $bg-light-gray;
  border-radius: 5px;
  height: 800px;
  width: 100%;
  font-family: "Inter", sans-serif;
  margin-bottom: 8rem;
  margin-top: 3rem;

  .left-side{
    flex: 40%;
    height: 60rem;
    width: 100%;
    border-radius: 5px;
    background-color: $black-light-gray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h3{
      font-weight: 500;
      font-size: 40px;
      color: $white;
      margin-bottom: 1rem;
    }

    .form {
      width: 300px;
      margin: 0 auto;
    }

    .form .input-name{
      margin-top: 1rem;
    }

    .form input[type="text"],
    .form input[type="number"]{
      width: 100%;
      padding: 15px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      color: $black-gray;
      border-radius: 5px;
      box-sizing: border-box;
      font-weight: 600;
      cursor: pointer;
      outline: none;
      font-size: 15px;
    }

    .form select{
      width: 100%;
      padding: 15px;
      margin-bottom: 10px;
      border: 1px solid $bg-gray;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 15px;
      font-weight: 700;
      color: $black-light-gray;
      cursor: pointer;
      appearance: none;
      outline: none;

      option {
        background-color: $white;
        color: $black-gray;
        border: none;
        cursor: pointer;
        font-size: 15px;
        padding: 10px 15px;
        outline: none;
      }
    }

    .form ::placeholder {
      font-weight: 700;
    }

    .form button {
      font-size: 20px;
      margin-top: 1rem;
      padding: 0.50rem 1rem;
      display: block;
      background-color: transparent;
      border: 2px solid $bg-light-gray;
      color: $white;
      font-weight: 500;
      cursor: pointer;
      border-radius: 5px;
      transition: transform 0.3s ease;
    }

    .form button:hover {
      transform:rotateY(-10deg);
      background-color: $white;
      color: $black;
    }
  }

  .right-side{
    flex: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40rem;
    margin-left: 2rem;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .paragraph_t{
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 20px;
        width: 90%;

        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
      }
    }
  }
}

@media(max-width: 970px){
  .login-section{
    margin-top: 3rem;
    flex-direction: column;
    height: 120rem;

    .left-side{
      margin: 2rem 0;
    }

    .right-side{
      margin-bottom: 2rem;
      margin-left: 0;
    }
  }
}

@media(max-width: 1070px){
  .login-section{
    margin-top: 4rem;
    flex-direction: column;
    height: 120rem;

    .left-side{
      margin: 2rem 0;
    }

    .right-side{
      margin-bottom: 2rem;
      margin-left: 0;
    }
  }
}

@media(max-width: 1300px){
  .login-section{
    .left-side{
      flex: 70%;
    }
    .right-side {
      flex: 70%;
    }
  }
}
