@import "../../../color-variables.scss";

.login-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: $bg-light-gray;
  border-radius: 5px;
  height: 800px;
  width: 100%;
  font-family: "Inter", sans-serif;

  .left-side{
    flex: 40%;
    height: 1100px;
    width: 100%;
    border-radius: 5px;
    background-color: $bg-gray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h3{
      font-weight: 500;
      font-size: 40px;
      color: $black-gray;
    }

    .form {
      width: 300px;
      margin: 0 auto;
    }

    .form input[type="text"]{
      margin-top: 1rem;
      font-weight: 600;
    }

    .form input[type="text"],
    .form input[type="number"]{
      width: 100%;
      padding: 15px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      font-weight: 600;
      cursor: pointer;
      outline: none;
    }

    .form select{
      width: 100%;
      padding: 15px;
      margin-bottom: 10px;
      border: 1px solid $bg-gray;
      border-radius: 5px;
      box-sizing: border-box;
      font-weight: 700;
      cursor: pointer;
      appearance: none;
      outline: none;

      option {
        background-color: $bg-light-gray;
        color: $black-gray;
        border: none;
        padding: 10px 15px;
        outline: none;
      }
    }

    .form ::placeholder {
      font-weight: 700;
    }

    .form button {
      margin-top: 10px;
      padding: 15px 25px;
      background-color: $bg-secondary;
      color: $white;
      border: none;
      border-radius: 5px;
      font-size: 15px;
      cursor: pointer;
    }

    .form button:hover {
      background-color: $primary-color;
    }
  }

  .right-side{
    flex: 60%;
    margin-left: 1rem;
    background-color: $bg-primary;
    border-radius: 5px;
  }
}

@media(max-width: 970px){
  .login-section{
    flex-direction: column;
    margin: 10% 0;
    height: 1000px;

    .left-side{
      flex: 100%;
      height: 900px;
      margin: 2rem 0;
    }

    .right-side{
      flex: 100%;
      height: 900px;
      margin-bottom: 2rem;
    }
  }

}

@media(min-width: 970px){
  .login-section{
    margin: 10% 0;
    height: 900px;

    .left-side{
      height: 1000px;
    }
  }
}

@media(max-width: 1300px){
  .login-section{

    .left-side{
      flex: 60%;
    }
  }
}

@media(min-width: 1300px){
  .login-section{

    .left-side{
      flex: 30%;
    }
  }
}
