<section class="login-section pad-70">
  <div class="left-side">
    <div class="login-box">
      <h3>Login</h3>
      <div class="form">
        <form class="register-form">
          <input type="text" placeholder="Nome"/>
          <input type="number" placeholder="Idade"/>
          <input type="text" placeholder="CPF">
          <select name="hospitais">
            <option value="1">Hospitais</option>
            <option value="2">Hospital 1</option>
            <option value="3">Hospital 2</option>
            <option value="4">Hospital 3</option>
          </select>
          <button>Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
  <div class="right-side">
    <!-- <img src="assets/schedule.jpg" alt="Minha Imagem" width="900" height="600"> -->
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro dolores assumenda, perspiciatis beatae error ea velit aliquam minus nesciunt fugit modi vitae sunt placeat numquam cumque, voluptas praesentium nobis odit.</p>
  </div>
</section>
