<footer>
  <section class="title-proj">
    <h1>Sistema único de saúde</h1>
    <span>SUS</span>
  </section>
  <section class="github-sec">
    <img src="../../../assets/social.png" alt="" width="70" height="70">
    <span>Desenvolvido por:</span>
    <section class="links-group">
        <a href="https://github.com/GabStabile">Gabriel Stabile</a>
        <a href="https://github.com/geovannaanjos">Geovanna Anjos</a>
        <a href="https://github.com/OlaLeonardoAmaral">Leonardo Amaral</a>
    </section>
  </section>
</footer>
