<section class="patient-section">
  <div class="patient-search">
    <h3>Pesquisar Paciente</h3>
    <div class="form" id="search">
      <input type="text" name="search" placeholder="Insira um CPF" required>
      <button class="material-symbols-outlined">search</button>
    </div>
    <div class="text-search">
      <p>Encontre informações sobre pacientes cadastrados no SUS. Insira o nome, idade ou CPF do paciente para
        visualizar os detalhes do seu cadastro.</p><br>
    </div>
  </div>
  <div class="patient-info">
    <div class="card-info">
      <h2>Nome Paciente</h2>
      <p class="separator"></p>
      <h3>Informações paciente</h3>
      <ul>
        <li><b>Idade: </b> 00 anos</li>
        <li><b>CPF: </b> 123.456.789-00</li>
        <li><b>Gênero: </b> Gênero</li>
        <li><b>Hospital: </b> Hospital selecionado</li>
      </ul>
    </div>
  </div>
</section>
