@use "../../../color-variables.scss" as *;

.app-header{
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  min-width: 1000px;
  max-width: 2500px;
  padding: 30px;
}

section .crud_link.active{
  font-weight: 800;
  color: $primary-text;
}

.crud_link{
  display: inline-block;
  color: $black-gray;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  cursor: pointer;
}

.crud_link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: $secondary-text;
  transition: width .3s;
}

.crud_link:hover::after {
  width: 100%;
  transition: width .3s;
}

@media(max-width: 920px){
  .app-header{
    flex-direction: row;
    justify-content: space-around;
  }
  .crud-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
  }

}
